
.app .sidebar .main-navigation .nav > li.active a {
  color: white;
}

.inventory-sidebar {
	width: 200px;
}

.inventory-navigation ul > li > a {
  display: block;
  padding: 10px 15px;
  text-align: left;
  width: 100%;
}
.inventory-navigation ul > li i {
  padding-right: 10px;
  min-width: 25px;
  text-align: center;
  font-size: 11px;
}
.inventory-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.inventory-navigation .nav-title {
  font-weight: 700;
  padding: 25px 15px 0;
  text-transform: uppercase;
}

.inventory-navigation ul > li {
  position: relative;
  display: block;
}
.inventory-navigation ul > li:before,
.inventory-navigation ul > li:after {
  content: " ";
  display: table;
}
.inventory-navigation ul > li:after {
  clear: both;
}
.inventory-navigation ul > li a {
  position: relative;
}

.inventory-navigation ul > li.open > .dropdown-menu {
  display: block;
}
.inventory-navigation ul > li.open > a .toggle-accordion:before {
  content: "\e64b";
}
.inventory-navigation ul > li > ul {
  position: relative;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-transition: background-color 400ms ease;
  -moz-transition: background-color 400ms ease;
  -o-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}
.inventory-navigation .nav > li > .sub-menu > li > a {
  padding: 8px 15px 8px 44px!important;
}
.inventory-navigation .nav > li > .sub-menu > li > a + .sub-menu > li > a {
  padding: 8px 15px 8px 60px!important;
}
.inventory-navigation .nav > li > .sub-menu > li > a + .sub-menu > li > a + .sub-menu > li > a {
  padding: 8px 15px 8px 80px!important;
}
.inventory-navigation .nav > li > .sub-menu > li > a + .sub-menu > li > a + .sub-menu > li > a + .sub-menu > li > a {
  padding: 8px 15px 8px 100px!important;
}
.inventory-navigation li a .toggle-accordion {
  float: right;
  padding: 0;
  font-size: 8px;
  line-height: 20px;
  min-width: 25px!important;
}
.inventory-navigation li a .toggle-accordion:before {
  font-family: "themify";
  font-style: normal;
  font-weight: normal;
  content: "\e649";
}

.sub-location {
  margin-left: 1em;
}

.bg-requires-stock {
  background-color: #f6ae01;
}

.bg-empty {
  background-color: #e64018;
}

span.badge.badge-pill-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

span.badge.badge-pill-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.status thead th,
.status tbody td {
  padding: 8px 0 8px 8px;
}

.table th.status {
  width: 20px;
}

.table th.loc {
  text-align: left;
}

.table th.partnumber {
  text-align: left;
}

.table th.description {
  text-align: left;
}

.table th.date {
  width: 100px;
}

.table th.time {
  width: 60px;
}

.table th.user {
  width: 60px;
}

.table th.user-name {
  width: 50%;
}

.table th a {
  font-weight: normal;
}

table.status tbody tr:hover td {
  background-color: #fffacd;
}

table.status tr th {
  text-align: left;
}

table.status tr td {
  padding-right: 1em;
}

table.status tr td:first-child {
  font-weight: bold;
}


.grid-item-header > .location,
.grid-item-content > .part-description,
.grid-item-content > .part-number,
.grid-item-content > .quantity,
.grid-item-content > .reorder-point {
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grid-item-header > .location,
.grid-item-content > .part-description,
.grid-item-content > .quantity,
.grid-item-content > .reorder-point {
	color: gray;
}

.location span.badge {
	float: right;
}

.grid-view table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.grid-header tr {
	height: 1em;
}

.grid-header th {
	color: grey;
	text-align: center;
}

.grid-row {
	height: 120px;
}

th.row-header,
td.row-header {
/*	border: 1px solid lightgrey;  debug 
	border-right: 1px solid lightgrey;
*/	
	border: none;
	color: grey;
	text-align: center;
	width: 2em;
}

tr.grid-row td {
	border: 1px solid lightgrey;
}

.grid-item-container {
	min-height: 1em;
	position: relative;
}

.grid-item-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.grid-item {
	position: relative;
	z-index: 4;
}

.grid-item-placeholder {
	text-align: center;
	vertical-align: middle;
}

.grid-item-header {
	width: 100%;
	height: 2.2em;
	background-color: #faebcc;
	padding: 6px;
}

.grid-item-content {
	background-color: white;
	min-height:7em;
	padding: 6px;
}

