body {
  padding-top:50px
}

th.status {
  width:20px;
}

th.location {
  width:60px;
}

th.part-number {
  width:200px;
}

th.description {
  width:200px;
}


span.badge.badge {
    background-color: #fce685;
    margin-left: 4px
}

span.badge.badge-warning {
    background-color: #f6ae01
}

span.badge.badge-important {
    background-color: #e64018
}

span.badge.badge-warning-important {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0
}

span.badge.badge-important-warning {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
