header.header.header-fixed.navbar
  .brand
    a.ti-menu.off-left.visible-xs(href='javascript:;', data-toggle='offscreen', data-move='ltr')
    a.navbar-brand(href='/')
      img(src='images/logo.png', alt='')
      span.heading-font Kanban Live

  ul.nav.navbar-nav
    li.hidden-xs
      // toggle small menu
      a.toggle-sidebar(href='javascript:;')
        i.ti-menu
    li.header-search
      // toggle search
      a.toggle-search(href='javascript:;')
        i.ti-search
      .search-container
        form(role='search')
          input.form-control.search(type='text', placeholder='type and press enter')

  ul.nav.navbar-nav.navbar-right
    li.dropdown.hidden-xs
      a(href='javascript:;', data-toggle='dropdown')
        i.ti-more-alt
      ul.dropdown-menu.animated.zoomIn
        li.dropdown-header Quick Links
        li
          a(href='javascript:;') Start New Campaign
        li
          a(href='javascript:;') Review Campaigns
        li.divider
        li
          a(href='javascript:;') Settings
        li
          a(href='javascript:;') Wish List
        li
          a(href='javascript:;') Purchases History
        li.divider
        li
          a(href='javascript:;') Activity Log
        li
          a(href='javascript:;') Settings
        li
          a(href='javascript:;') System Reports
        li.divider
        li
          a(href='javascript:;') Help
        li
          a(href='javascript:;') Report a Problem
    li.notifications.dropdown
      a(href='javascript:;', data-toggle='dropdown')
        i.ti-bell
        .badge.badge-top.bg-danger.animated.flash
          span 3
      .dropdown-menu.animated.fadeInLeft
        .panel.panel-default.no-m
          .panel-heading.small
            b Notifications
          ul.list-group
            li.list-group-item
              a(href='javascript:;')
                span.pull-left.mt5.mr15
                  img.avatar.avatar-sm.img-circle(src='images/face4.jpg', alt='')
                .m-body
                  div
                    small
                      b CRYSTAL BROWN
                    span.label.label-danger.pull-right ASSIGN AGENT
                  span Opened a support query
                  span.time.small 2 mins ago
            li.list-group-item
              a(href='javascript:;')
                .pull-left.mt5.mr15
                  .circle-icon.bg-danger
                    i.ti-download
                .m-body
                  span Upload Progress
                  .progress.progress-xs.mt5.mb5
                    .progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
                  span.time.small Submited 23 mins ago
            li.list-group-item
              a(href='javascript:;')
                span.pull-left.mt5.mr15
                  img.avatar.avatar-sm.img-circle(src='images/face3.jpg', alt='')
                .m-body
                  em Status Update:
                  span All servers now online
                  span.time.small 5 days ago
          .panel-footer
            a(href='javascript:;') See all notifications
    li.off-right
      a(href='javascript:;', data-toggle='dropdown')
        img.header-avatar.img-circle(src='images/avatar.jpg', alt='user', title='user')
        span.hidden-xs.ml10 Gerald Morris
        i.ti-angle-down.ti-caret.hidden-xs
      ul.dropdown-menu.animated.fadeInRight
        li
          a(href='javascript:;') Settings
        li
          a(href='javascript:;') Upgrade
        li
          a(href='javascript:;')
            .badge.bg-danger.pull-right 3
            span Notifications
        li
          a(href='javascript:;') Help
        li
          a(href='signin.html') Logout
