doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(name='description', content='Flat, Clean, Responsive, application admin template built with bootstrap 3')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1')

    title Dashboard - Kanban Live

    link(rel='stylesheet', href='styles/bootstrap.min.css')
    link(rel='stylesheet', href='styles/font-awesome.css')
    link(rel='stylesheet', href='styles/themify-icons.css')
    link(rel='stylesheet', href='styles/animate.css')
    //link#skin(rel='stylesheet', href='styles/sublime.skins.css')
    link(rel='stylesheet', href='styles/sublime.css')
    link(rel='stylesheet', href='styles/kanbanlive.css')

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // load modernizer
    script(src='scripts/modernizr.js')
  body
    .app
      include header
      section.layout
        include sidebar
        block content

    script(src='scripts/jquery.js')
    script(src='scripts/bootstrap.js')
    script(src='scripts/jquery.slimscroll.js')

    script(src='scripts/offscreen.js')
    script(src='scripts/main.js')
