extends layout
block content
  aside.inventory-sidebar.canvas-right.bg-default
    .content-wrap.no-p
      .wrapper
        nav.inventory-navigation(role='navigation', data-height='auto', data-size='6px', data-distance='0', data-rail-visible='true', data-wheel-step='10')
          .no-padding
            p.nav-title Quick Links
            ul.nav.nav-stacked
              li
                a(href='inventory.html') New demand
              li
                a(href='javascript:;')
                  | In progress
                  span.badge.pull-right.bg-requires-stock.badge-pill-right 95
                  span.badge.pull-right.bg-empty.badge-pill-left 3
              li
                a(href='javascript:;')
                  | Overview
                  span.badge.pull-right.bg-requires-stock.badge-pill-right 95
                  span.badge.pull-right.bg-empty.badge-pill-left 3
              li
                a(href='javascript:;')
                  | Empty
                  span.badge.pull-right.bg-empty 3
              li
                a(href='javascript:;')
                  | Requires stock
                  span.badge.pull-right.bg-requires-stock 95
            p.nav-title Locations
            ul.nav.nav-stacked
              li.open
                a.active(href='javascript:;')
                  i.toggle-accordion
                  span Liebherr
                ul.sub-menu
                  li.open
                    a.active(href='javascript:;')
                      i.toggle-accordion
                      span Gravure
                    ul.sub-menu
                      li
                        a(href='/panel')
                          span M01
                          span.badge.pull-right.bg-requires-stock 4
                  li
                    a(href='javascript:;')
                      i.toggle-accordion
                      span MGF
                    ul.sub-menu
                      li
                        a(href='javascript:;')
                          span A01
                      li
                        a(href='javascript:;')
                          span A03
                      li
                        a(href='javascript:;')
                          span A05
                      li
                        a(href='javascript:;')
                          span A07
                      li
                        a(href='javascript:;')
                          span A09
                      li
                        a(href='javascript:;')
                          span A10
                      li
                        a(href='javascript:;')
                          span A12
                      li
                        a(href='javascript:;')
                          span A13
                      li
                        a(href='javascript:;')
                          span A14
                      li
                        a(href='javascript:;')
                          span A15
                      li
                        a(href='javascript:;')
                          span A16
                      li
                        a(href='javascript:;')
                          span A17
                      li
                        a(href='javascript:;')
                          span A18
                      li
                        a(href='javascript:;')
                          span A19
                      li
                        a(href='javascript:;')
                          span B09
                      li
                        a(href='javascript:;')
                          span B11
                      li
                        a(href='javascript:;')
                          span B12
                      li
                        a(href='javascript:;')
                          span B13
                      li
                        a(href='javascript:;')
                          span B14
                      li
                        a(href='javascript:;')
                          span B15
                      li
                        a(href='javascript:;')
                          span B16
                      li
                        a(href='javascript:;')
                          span B17
                      li
                        a(href='javascript:;')
                          span B18
                      li
                        a(href='javascript:;')
                          span B19
                      li
                        a(href='javascript:;')
                          span B21
                      li
                        a(href='javascript:;')
                          span B22
                      li
                        a(href='javascript:;')
                          span B23
                      li
                        a(href='javascript:;')
                          span B24
                      li
                        a(href='javascript:;')
                          span B25
                      li
                        a(href='javascript:;')
                          span B26
                      li
                        a(href='javascript:;')
                          span B27
                      li
                        a(href='javascript:;')
                          span B28
                      li
                        a(href='javascript:;')
                          span B29
                      li
                        a(href='javascript:;')
                          span B30
                      li
                        a(href='javascript:;')
                          span B31
                      li
                        a(href='javascript:;')
                          span B32
              li
                a(href='javascript:;')
                  i.toggle-accordion
                  |  Technofan
                ul.sub-menu
                  li
                    a(href='javascript:;')
                      span Kardex A
                  li
                    a(href='javascript:;')
                      span Kardex B
  // /mail sidebar navigation
  // main content
  section.main-content
    // content wrapper
    .content-wrap
      // inner content wrapper
      .wrapper
        .row.mb15
          .col-xs-6
            h4 Liebherr / Gravure / M01
          .col-xs-6.text-right
            .btn-group
              a.btn.btn-primary.btn-sm.active(href='/panel-list')
                i.ti-view-list
              a.btn.btn-primary.btn-sm(href='/panel')
                i.ti-view-grid
            .btn-group
              button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                | Filter
                span.ti-angle-down.ml10
              ul.dropdown-menu.text-left.filter(data-option-key='filter', role='menu')
                li
                  a(href='javascript:;', data-filter='.overview') Overview
                li
                  a(href='javascript:;', data-filter='.empty') Empty
                li
                  a(href='javascript:;', data-filter='.requires-stock') Requires stock
                li
                  a(href='javascript:;', data-filter='.*') All
            .btn-group(data-toggle='buttons')
              button.btn.btn-primary.btn-sm(type='button') Download
        .row
          .col-md-12
            section.panel.no-b
              .panel-body
                table.table.table-striped
                  thead
                    tr
                      th.status
                      th.loc Location
                      th.partnumber Part Number
                      th.description Description
                      th.demand_status Demand status
                  tbody
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6004') M01B02
                      td
                        a.partnumber(href='#') S1311A
                      td
                        | LABEL
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6005') M01B03
                      td
                        a.partnumber(href='#') S4680
                      td
                        | PLATE
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6007') M01B05
                      td
                        a.partnumber(href='#') S4646-22AE
                      td
                        | PLAQUETTE
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6381') M01D06
                      td
                        a.partnumber(href='#') S4646-03AF
                      td
                        | LABEL
                      td
                        | In progress
      // /inner content wrapper
    // /content wrapper
    a.exit-offscreen
