extends layout
block content
  include inventory-sidebar
  section.main-content
    // content wrapper
    .content-wrap
      // inner content wrapper
      .wrapper
        .row.mb15
          .col-xs-6
            h4 Liebherr / Gravure / M01
          .col-xs-6.text-right
            .btn-group
              a.btn.btn-primary.btn-sm.active(href='/panel-list')
                i.ti-view-list
              a.btn.btn-primary.btn-sm(href='/panel')
                i.ti-view-grid
            .btn-group
              button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                | Filter
                span.ti-angle-down.ml10
              ul.dropdown-menu.text-left.filter(data-option-key='filter', role='menu')
                li
                  a(href='javascript:;', data-filter='.overview') Overview
                li
                  a(href='javascript:;', data-filter='.empty') Empty
                li
                  a(href='javascript:;', data-filter='.requires-stock') Requires stock
                li
                  a(href='javascript:;', data-filter='.*') All
            .btn-group(data-toggle='buttons')
              button.btn.btn-primary.btn-sm(type='button') Download
        .row
          .col-md-12
            section.panel.no-b
              .panel-body
                table.table.table-striped
                  thead
                    tr
                      th.status
                      th.loc Location
                      th.partnumber Part Number
                      th.description Description
                      th.demand_status Demand status
                  tbody
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6004') M01B02
                      td
                        a.partnumber(href='#') S1311A
                      td
                        | LABEL
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6005') M01B03
                      td
                        a.partnumber(href='#') S4680
                      td
                        | PLATE
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6007') M01B05
                      td
                        a.partnumber(href='#') S4646-22AE
                      td
                        | PLAQUETTE
                      td
                        | In progress
                    tr
                      td
                        span.badge.bg-requires-stock &nbsp;
                      td
                        a(href='/sites/6/bins/6381') M01D06
                      td
                        a.partnumber(href='#') S4646-03AF
                      td
                        | LABEL
                      td
                        | In progress
      // /inner content wrapper
    // /content wrapper
    a.exit-offscreen
