extends layout
block content
  include inventory-sidebar
  section.main-content
    // content wrapper
    .content-wrap
      // inner content wrapper
      .wrapper
        .row.mb15
          .col-xs-6
            h4 Liebherr / Gravure / M01
          .col-xs-6.text-right
            .btn-group
              a.btn.btn-primary.btn-sm(href='/panel-list')
                i.ti-view-list
              a.btn.btn-primary.btn-sm.active(href='/panel')
                i.ti-view-grid
            .btn-group
              button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
                | Filter
                span.ti-angle-down.ml10
              ul.dropdown-menu.text-left.filter(data-option-key='filter', role='menu')
                li
                  a(href='javascript:;', data-filter='.overview') Overview
                li
                  a(href='javascript:;', data-filter='.empty') Empty
                li
                  a(href='javascript:;', data-filter='.requires-stock') Requires stock
                li
                  a(href='javascript:;', data-filter='.*') All
            .btn-group(data-toggle='buttons')
              button.btn.btn-primary.btn-sm(type='button') Download
        .row.grid-view
          .col-md-12
            table
              thead.grid-header
                tr
                  th.row-header
                  th 1
                  th 2
                  th 3
                  th 4
                  th 5
                  th 6
                  th 7
                  th 8
                  th 9
                  th 10
              tbody
                tr.grid-row
                  th.row-header A
                  td(ondrop='drop(event)', ondragover='allowDrop(event)')
                    .grid-item-container
                      .grid-item-bg
                        p.grid-item-placeholder A1
                      #a1.grid-item(draggable='true', ondragstart='drag(event)')
                        .grid-item-header
                          p.location
                            | A1
                            span.badge.bg-requires-stock &nbsp;
                        .grid-item-content
                          p.part-number
                            a(href='#') S4614BB2
                          p.part-description LABEL
                          p.part-number 150 / 200
                          // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td(ondrop='drop(event)', ondragover='allowDrop(event)')
                    .grid-item-container
                      .grid-item-bg
                        p.grid-item-placeholder A2
                  td
                    .grid-item
                      .grid-item-header
                        p.location A3
                      .grid-item-content
                        p.part-number
                          a(href='#') S22225CM060018
                        p.part-description SCREW
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | A4
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') EN2997SE00803M7
                        p.part-description CONNECTOR
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | A5
                          span.badge.bg-empty &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S103A1260090080
                        p.part-description BEARING
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | A6
                          span.badge.bg-empty &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') I-E8-12S
                        p.part-description SEAL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location A7
                      .grid-item-content
                        p.part-number
                          a(href='#') S602-103-53X1-5
                        p.part-description O RING
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location A8
                      .grid-item-content
                        p.part-number
                          a(href='#') S22225CM060018H
                        p.part-description SCREW
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location A9
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | A10
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                tr.grid-row
                  th.row-header B
                  td
                    .grid-item
                      .grid-item-header
                        p.location B1
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B2
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B3
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B4
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | B5
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B6
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B7
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B8
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | B9
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location B10
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                tr.grid-row
                  th.row-header C
                  td
                    .grid-item
                      .grid-item-header
                        p.location C1
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | C2
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C3
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C4
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C5
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C6
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C7
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      p.grid-item-placeholder C8
                  td
                    .grid-item
                      .grid-item-header
                        p.location C9
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location C10
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                tr.grid-row
                  th.row-header D
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | D1
                          span.badge.bg-empty &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D2
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D3
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location
                          | D4
                          span.badge.bg-requires-stock &nbsp;
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D5
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D6
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D7
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location D8
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td(colspan='2')
                    .grid-item
                      .grid-item-header
                        p.location D9
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                tr.grid-row
                  th.row-header E
                  td
                    .grid-item
                      .grid-item-header
                        p.location E1
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E2
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E3
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E4
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E5
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E6
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 0 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E7
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td
                    .grid-item
                      .grid-item-header
                        p.location E8
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
                  td(colspan='2')
                    .grid-item
                      .grid-item-header
                        p.location E9
                      .grid-item-content
                        p.part-number
                          a(href='#') S4614BB2
                        p.part-description LABEL
                        p.part-number 150 / 200
                        // <div class="grid-item-resizer grid-item-end-resizer"></div>
      // /inner content wrapper
    // /content wrapper
    a.exit-offscreen
