aside.sidebar.offscreen-left
  nav.main-navigation(data-height='auto', data-size='6px', data-distance='0', data-rail-visible='true', data-wheel-step='10')
    p.nav-title MENU
    ul.nav
      li.active
        a(href='/')
          i.ti-home
          span Dashboard
    p.nav-title WAREHOUSE
    ul.nav
      li
        a(href='/inventory')
          i.ti-layout-media-overlay-alt-2
          span Inventory
      li
        a(href='scans.html')
          i.ti-support
          span Scans
      li
        a(href='picks.html')
          i.ti-support
          span Picks
      li
        a(href='restocks.html')
          i.ti-support
          span Restocks
      li
        a(href='parts.html')
          i.ti-support
          span Parts
    p.nav-title PURCHASING
    ul.nav
      li
        a(href='request_for_quotes.html')
          i.ti-layers
          span Request for Quotes
      li
        a(href='purchase_orders.html')
          i.ti-layers
          span Purchase Orders
      li
        a(href='suppliers.html')
          i.ti-layers
          span Suppliers
    p.nav-title SALES
    ul.nav
      li
        a(href='sales_orders.html')
          i.ti-layers
          span Sales Orders
      li
        a(href='customers.html')
          i.ti-layers
          span Customers
      li
        a(href='contracts.html')
          i.ti-layers
          span Contracts
    p.nav-title REPORTS
    ul.nav
      li
        a(href='part_usages.html')
          i.ti-layers
          span Part Usages
    p.nav-title ADMIN
    ul.nav
      li
        a(href='users.html')
          i.ti-layers
          span Users
      li
        a(href='user_groups.html')
          i.ti-layers
          span User Groups
