<section ng-controller='StatusController'>
  <h2>Inventory Status</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="status"></th>
        <th class="location">Location</th>
        <th class="part-number">Part number</th>
        <th class="description">Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bin in bins">
        <td><span class="{{ binStatusCssClass(bin) }}">&nbsp;</span></td>
        <td>{{bin.row}}{{bin.column}}</td>
        <td>{{bin.partNumber}}</td>
        <td>{{bin.description}}</td>
        <td>
          <select name="statusSelect" id="statusSelect"
            ng-options="item.id as item.name for item in statusItems"
            ng-model="bin.status"
            ng-change="binStatusChanged(bin)"></select>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <h2>Gateways</h2> -->
  <!-- <table class="table table&#45;striped"> -->
  <!--   <thead> -->
  <!--     <tr> -->
  <!--       <th>Name</th> -->
  <!--       <th>Status</th> -->
  <!--       <th>Last Heartbeat</th> -->
  <!--     </tr> -->
  <!--   </thead> -->
  <!--   <tbody> -->
  <!--     <tr ng&#45;repeat="gateway in gateways"> -->
  <!--       <td>{{gateway.name}}</td> -->
  <!--       <td>{{gateway.status}}</td> -->
  <!--       <td>{{gateway.lastHeartbeatAt}}</td> -->
  <!--     </tr> -->
  <!--   </tbody> -->
  <!-- </table> -->
  <h2>Sensors</h2>
  <div ng-repeat="gateway in gateways">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Battery Level</th>
          <th>Last Heartbeat</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sensor in gateway.sensors">
          <td>{{sensor.name}}</td>
          <td>{{sensor.status}}</td>
          <td>{{sensor.batteryLevel | voltageLevel}}</td>
          <td>{{sensor.lastHeartbeatAt | date: 'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
